extends base.pug
include mixins/video

block content
  nav
   
    ul 
      li 
        a(href="/videos/upload") Upload
  h2 Welcome! you will see trending videos here!
  each video in videos
    +video(video)
  else 
    p Sorry! Nothing found!